/* TODO: Make it awesome */

:root {
  --bg-color: rgba(224, 224, 224, 0.726);
  --text-color: rgb(26, 26, 26);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0 auto;
  width: 95%;
}


/* HEADER */

header {

  padding-top: 15px;
}

header h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

nav ul li {
  display: inline;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all .5s ease;
}

nav {
  padding-top: 15px;
}

nav a {
  text-decoration: none;
  border: 1px solid var(--text-color);
  padding: 0 5px;
  border-radius: 5px;
  color: var(--text-color);
}

nav a:hover {
  font-size: 1.5rem;
}

nav span {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0 8px;
  margin: 5px;
  font-weight: bold;
}



/* MAIN */

main {
  padding-top: 15px;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
}

.card h1 {
  font-size: 1.5rem;
}

.copy {
  padding-top: 20px;
}

fieldset {
  border: solid 1px black;
  padding: 15px;
  display: inline;
  width: 60%;
}

#cartContents {
  margin-top: 20px;
  border: solid 1px black;
  padding: 15px;
  width: 60%;
  /* align-items: center; */
}




/* FOOTER */

footer {
  /* border: solid 2px black; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}